body {
  height: 100vh;
  background: linear-gradient(#333, rgb(0, 0, 0)) no-repeat;
}



#titleScreen {
  margin: auto;
  margin-top: 50px;
  position: relative;
  width: 800px;
  height: 700px;
  background-color: rgb(21, 190, 202);
  color: #333;
  text-align: center;
  border: 8px solid;
  border-radius: 10px;
  box-shadow: 0 1px 32px white;
  transform: rotate(0) scale(0);
  animation: boom 1s linear;
  animation-fill-mode: forwards;
}



@keyframes boom {
  100% {
    transform: rotate(1080deg) scale(1);
  }
}

#titleScreen div {
  height: 50%;
}

#titleScreen h1 {
  position:absolute;
  width: 100%;
  color: #222;
  font-size: 40px;
  text-shadow: 0 1px 2px;
  animation: pulse 6s linear infinite;
}

@keyframes pulse {
  50% {
    transform: scale(1.1);
  }
}

#titleScreen p {
  font-weight: bold;
}

#titleScreen span {
  position: relative;
  font-size: 18px;
  animation: up 2s linear infinite;
  animation-delay: 3s;
}

@keyframes up {
  25% {
    top: -4px;
  }
}

#startGame {
  font-size: 100px;
  text-align: center;
  text-shadow: 0 2px 0 rgb(199, 6, 6), 0 1px 64px white;
  animation: pulse 1.5s linear infinite;
}

